.awesome {
    background-color: #ffff;
    padding: 80px 0 123px;
}

.awesome-header-wrap {
    margin-bottom: 68px;
}

.header-text-awesome p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #86878B ;
}

.card-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    margin: 0 15px;
    transition: 0.5s;
}

.card:last-child {
    margin-right: 0;
}

.card:hover{
    transform: scale(1.2);
    background-color: rgba(182, 179, 179, 0.1);
    border-radius: 10px;
}

.img-card {
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;
}

.title-card {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}

.description-card p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
