.contact-us{
    background-color: #fff;
    padding: 85px 0 45px;
}

.contact-header-wrap {
    margin-bottom: 90px;
}

.contact-header-wrap p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #86878B ;
}

.contact-form  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.field-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 65px;
}

.contact-form label {
    font-size: 14px;
    font-weight: 400;
    color: rgba(189, 189, 189, 1);
}

.fields-contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 478px;
}

.fields-contacts input {
    width: 478px;
    line-height: 32px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    outline: none;
    color: #EC7979;
    font-size: 14px;
    font-weight: 400;
}

.contact-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
    margin-bottom: 32px;
}

.contact-item:last-child {
    margin-bottom: 0;
}

.field-message {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 478px;
}

.field-message textarea {
    max-width: 478px;
    height: 207px;
    line-height: 32px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    outline: none;
    color: #EC7979;
    font-size: 14px;
    font-weight: 400;
    resize: none;
}

.contact-btn {
    
    width: 166px;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    text-align: center;
    line-height: 42px;
    transition: 0.5s;
    margin: auto;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.contact-btn:hover {
    transform: scale(1.2);
}


