.axit-footer {
    background-color: rgb(0, 0, 0);
    padding: 15px 0;
}

.footer-icons-wrap {
    width: 320px;
    margin: 0 auto 15px;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-item {
    transition: 0.7s;
    margin: 0 5px;
}

.footer-item:last-child {
    margin: 0;
}

.footer-item:hover {
    transform: scale(1.2) rotate(360deg);
}

.footer-item a{
    font-size: 23px;
    font-weight: 900;
    color: rgba(134, 135, 139, 1);
    /* transition: 0.3s; */
}

/* .footer-item a:hover {
    color: #fff;
} */

.footer-description {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

