@media all and (max-width: 1169px) {
    .container {
        max-width: 970px;
    }

    .tabs-main-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .tabs-btns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 30px;
        margin-right: 0;
    }
    
    .tabs-btns button {
        padding: 25px 100px;
        border-radius: 15px;
        margin-right: 15px;
    }

    .tabs-description-wrap-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 25px;
        justify-content: space-evenly;
    }

    .tabs-description-wrap-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 25px;
        justify-content: space-evenly;
    }

    .tabs-description-wrap-3 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 25px;
        justify-content: space-evenly;
    }

    .tabs-link {
        width: 300px;
    }

    .tabs-link a {
        padding: 10px 112px;
    }

    .card {
        width: 320px;
    }

    .rate-list {
        width: 320px;
    }

}

@media (max-width: 1094px) {
    .media-title {
        margin: auto;
        text-align: center;
    }
    
    .icons-wrap {
        margin: auto;
    }

    .card {
        width: 280px;
    }

    .rate-list {
        width: 280px;
    }

    .customer-card {
        width: 280px;
    }
    
    .customer-name-card {
        margin-right: 10px;
    }
}

@media (max-width: 1018px) {

    .tabs-description-wrap-1 {
        display: block;
        margin: auto;
        text-align: center;
    }

    .tabs-description-wrap-2 {
        display: block;
        margin: auto;
        text-align: center;
    }

    .tabs-description-wrap-3 {
        display: block;
        margin: auto;
        text-align: center;
    }

    .tabs-link {
        margin: auto;
    }

    .tabs-description {
        margin-right: 10px;
    }
}

@media (max-width: 963px) {
    .tabs-description {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 949px) {

    .container {
        max-width: 750px;
    }

    .axit-description {
        text-align: center;
        margin: 0 auto 50px;
    }

    .title::after {
        margin: 35px auto 35px;
    }

    .axit-description-text {
        margin: auto;
        margin-bottom: 40px;
    }

    .axit-link {
        margin: auto;
    }

    .form-registration {
        margin: auto;
    }

    .tabs-description {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .tabs-description-wrap-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .tabs-description-wrap-2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .tabs-description-wrap-3 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .tabs-img {
        margin: auto;
    }

    .card-wrap {
        justify-content: space-evenly;
    }

    .card {
        margin: 0;
        margin-bottom: 15px;
        margin-right: 10px;
    }


    .card:last-child {
        margin-left: 0;
    }


    .rate-wrap {
        justify-content: space-evenly;
    }

    .rate-list {
        width: 250px;
        margin-bottom: 15px;
    }


    .customer-card-wrap {
        justify-content: space-evenly;
    }

    .customer-card {
        margin-bottom: 10px;
    }
}

@media (max-width: 890px) {

    .container {
        max-width: 680px;
    }

    .card-wrap {
        justify-content: space-evenly;
    }

}