.options {
    background-color: #F5F5F5;
    padding: 80px 0 59px;
}

.options-header-wrap {
    margin-bottom: 62px;
}

.header-text-options p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(134, 135, 139) ;
}

.rate-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rate-list {
    width: 340px;
    text-align: center;
    transition: 1s;
    margin-right: 15px;
    transition: 1s;
}

.rate-list:hover {
    transform: scale(1.1);
    box-shadow: -10px -10px 10px 5px rgb(134, 135, 139, 0.5);
}

.rate-list:last-child {
    margin-right: 0;
}

.name-rate {
    background-color: #333333;
    color: #ffff;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}


.price-rate {
    background-color: #333333;
    color: #ffff;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 35px;
    line-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.main-description-rate {
    background-color: #333333;
    color: rgba(255, 255, 255, 0.5) ;
    font-weight: 600;
    font-size: 14px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.space-rate {
    background-color: #FFFF;
    color: #86878B;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.space-rate:last-child {
    margin-bottom: 0;
}

