.tabs {
    background-color: #fff;
    margin: 125px 0;
}

.tabs-main-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.tabs-btns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 88px;
}

.tabs-btns button {
    padding: 45px 35px;
    background-color: rgba(51, 51, 51, 1);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.tabs-btns button:last-child {
    margin-bottom: 0;
}

.tabs-btns button:focus {
    transform: scale(1.05);
    background-color: rgba(236, 121, 121, 1);
    outline: 0;
    outline-offset: 0;
}

.tabs-content-item {
    display: none;
}

.tabs-active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.tabs-description {
    width: 572px;
    margin-right: 80px;
}

.tabs-title {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 58px;
}

.tabs-text {
    margin-bottom: 89px;
}

.tabs-text p {
    color: rgba(134, 135, 139, 1);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.part-1 {
    margin-bottom: 14px;
}

.tabs-link {
    width: 135px;
    background-color: rgba(236, 121, 121, 1);
    text-align: center;
    line-height: 42px;
    transition: 0.5s;
}

.tabs-link:hover {
    transform: scale(1.2);
}

.tabs-link a {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    padding: 10px 30px;
}

.tabs-img {
    width: 287px;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.tabs-img img{
    object-position: center;
    width: 100%;
    height: 100%;
}
